@model IEnumerable<WebReports.Models.Client>
@using WebReports.Helpers
@{
    ViewBag.PageTitle = "Clients";
    //Layout = "~/Views/Shared/_PortalLayout.cshtml";
    bool canManage = true;
    if (User.IsInRole(PortalRoles.Admin))
    {
        canManage = true;
    }
}
<div class="row">
    <div class="col-lg-offset-8 col-lg-4">
        <p class="pull-right">
            @if (canManage)
            {
                @Html.ActionLink("Add Client", "Create", null, new { @class = "btn btn-primary" })
            }
        </p>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped" id="tblUsers">
        <thead class="header">
            <tr>
                <th>Name</th>
                <th>Display Name</th>
                <th>Description</th>
                <th>Is Active</th>
                <th>Creation Details</th>
                <th>Last Update Details</th>
                <th width="100px">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (null == Model || Model.Count() == 0)
            {
                <tr class="info"><td colspan="6">No clients found.</td></tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.DisplayName
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @Html.Raw(item.IsActive.GetValueOrDefault(false) ? "Yes" : "No")
                        </td>
                        <td>
                           
                        </td>
                        <td>
                           
                        </td>
                        <td>
                            <a href="/Clients/Details/@item.Id" class="btn btn-default btn-xs" title="Click to view details"><i class="glyphicon glyphicon-eye-open glyphicon-info"></i></a>
                            @if (canManage)
                            {
                                @:<a href="/Clients/Edit/@item.Id" class="btn btn-default btn-xs" title="Click to edit the user"><i class="glyphicon glyphicon-edit glyphicon-primary"></i></a>
                                if (item.IsActive.HasValue)
                                {
                                    @:<a href="#" onclick="return updateUser(@item.Id, true)" class="btn btn-default btn-xs" title="Click to activate the user"><i class="glyphicon glyphicon-ok-circle glyphicon-success"></i></a>
                                }
                                else
                                {
                                    @:<a href="#" onclick="return updateUser(@item.Id, false)" class="btn btn-default btn-xs" title="Click to de-activate the user"><i class="glyphicon glyphicon-ban-circle glyphicon-danger"></i></a>
                                }
                            }
                        </td>
                    </tr>
                }
            }
    </table>
</div>
